In [1]:
import pandas as pd
import psycopg2 as pg2
from sqlalchemy import create_engine

In [2]:
conn = pg2.connect(host='localhost', dbname='postgres', user='jaeb', password='woqls2613')

In [3]:
engine = create_engine('postgresql://jaeb:woqls2613@localhost:5432/postgres')

In [10]:
import chardet

with open('../data/bus_station_boarding_month_202306.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))

In [11]:
result[

{'encoding': 'EUC-KR', 'confidence': 0.99, 'language': 'Korean'}

In [12]:
df = pd.read_csv('../data/bus_station_boarding_month_202306.csv', encoding='euc-kr')

In [15]:
df = df.rename(columns={'사용일자':'boarding_date', '노선번호':'line_no', '노선명':'line_name', '표준버스정류장ID':'bus_station_id', '버스정류장ARS번호':'bus_station_ars', '역명':'bus_station_name', '승차총승객수':'on_count', '하차총승객수':'off_count', '등록일자':'reg_date'})

In [16]:
df

,boarding_date,line_no,line_name,bus_station_id,bus_station_ars,bus_station_name,on_count,off_count,reg_date
0,20230601,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원(00031),125,151,20230604
1,20230601,9409,9409번(구미동차고지~신사역),206000552,07553,성남시운중도서관(00015),2,6,20230604
2,20230601,9409,9409번(구미동차고지~신사역),206000544,07500,화랑공원남편(00066),12,0,20230604
3,20230601,9409,9409번(구미동차고지~신사역),206000543,07499,금토천교(00064),4,27,20230604
4,20230601,9409,9409번(구미동차고지~신사역),206000542,07498,삼평교(00063),1,42,20230604
...,...,...,...,...,...,...,...,...,...
1213686,20230630,6648,6648(방화동~양천구청),115000209,16306,서울항공비즈니스고등학교(00007),144,51,20230703
1213687,20230630,6648,6648(방화동~양천구청),115000231,16328,강서한방병원(00053),100,146,20230703
1213688,20230630,6648,6648(방화동~양천구청),115000232,16329,강서한방병원(00029),182,83,20230703
1213689,20230630,6648,6648(방화동~양천구청),115000315,16429,발산역9번출구(00068),298,265,20230703
1213690,20230630,6648,6648(방화동~양천구청),115000318,16432,신방화사거리(00006),186,27,20230703

In [19]:
df.columns

Index(['boarding_date', 'line_no', 'line_name', 'bus_station_id',
       'bus_station_ars', 'bus_station_name', 'on_count', 'off_count',
       'reg_date'],
      dtype='object')

In [17]:
df.to_sql('bus_station_boarding', con=engine)

691

In [42]:
f = pd.read_sql('''
select 
    bus_station_name, 
    bus_station_id, 
    boarding_date, 
    on_count, 
    sum(on_count) over(order by on_count desc)
from 
    bus_station_boarding
''', con=engine)

In [43]:
f

,bus_station_name,bus_station_id,boarding_date,on_count,sum
0,회기역(00001),105900027,20230619,6187,6187.0
1,회기역(00001),105900027,20230612,5927,12114.0
2,회기역(00001),105900027,20230613,5913,18027.0
3,회기역(00001),105900027,20230615,5835,23862.0
4,회기역(00001),105900027,20230608,5810,29672.0
...,...,...,...,...,...
1213686,동명여고.천주교불광동성당(00048),111000930,20230610,0,137555713.0
1213687,합정역(가상)(00032),113000509,20230609,0,137555713.0
1213688,서림동주민센터.신화단지(00085),120000054,20230610,0,137555713.0
1213689,상암고등학교(00019),111001127,20230609,0,137555713.0
1213690,송도병원앞(00043),101000095,20230609,0,137555713.0